<!-- NAME -->
<input [formControl]="control" [type]="type"
class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
    duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
[placeholder]="placeholder" />
<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.required" class="text-red-400">
        Field is required
    </p>
    <p *ngIf="control.errors?.minlength" class="text-red-400">
        Must be longer than 3 characters.
    </p>
    <p *ngIf="control.errors?.email" class="text-red-400">
        You must enter a valid email address.
    </p>
    <p *ngIf="control.errors?.min" class="text-red-400">
        Must be at least 18 to create an account.
    </p>
    <p *ngIf="control.errors?.max" class="text-red-400">
        Please enter a valid age.
    </p>
</ng-container>